body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quizBoxes{
  width: 90%;
  margin-top: 30px;
  
}
.quizBox{
  padding: 60px;
  width: 30%;
  background-color: azure;
  margin-right: 30px;
}
.buttonsData h4{
  margin-bottom: 30px;
  font-size: 50px;
}
.quizName{
  font-size: 1.4em;
}

.melonQuiz{
  width: 60px;
}

/* モーダルボタンで全体を暗くする */
#overlay{
 position:fixed;
 top:0px;
 left:0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0 , 0 , 0.7); 
 display:flex;
 align-items:center;
 justify-content: center;
}
#modal-content{
  z-index:2;
  width: 50%;
  padding:1em;
  background:#FFF;
  border-radius: 5px;
}
.modalWrap{
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}
.modalBtn{
 margin-top: 30px;
 margin-bottom: 150px;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  background-color: cadetblue;
  padding: 0 5%;
  color: #FFF;
}
.nav-links{
  padding-top: 10px;
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  font-size: 1.5em;
  color: #FFF;
}

.nav-links li{
  color: #FFF;
}


.nav-links li:hover{
  color:rgb(215, 215, 215);
  text-decoration: none;
}
.flexBox{
  display:flex;
}
.titleItem{
  width: 100%;
}
.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}
  
.detailBox{
  margin-top: 30px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
}
.myAppWrap{
  margin: 60px 0px;
  background-color: rgb(243, 247, 255);
  padding: 30px 20px;
}
.appName{
  font-size: 1.4em;
}

.appIntroduction{
  background-color: rgb(249, 255, 255);
  margin-top: 20px;
  padding: 15px;
}

.dessertWrap{
  background: linear-gradient(#ffffff 0%, #effee4 100%);
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.brandInfo{
  margin: 15px 0 15px 0;
  font-size: 1.4em;
}
.dessertBody{
  padding: 20px 50px;
}
.arrow-btn{
  width: 200px;
  margin-right: 30px;
 
}
.random-btn{
  font-size: 1.4em;
}

.dessert-top{
  width: 80px;
}
.formWrap{
  margin: 60px 0px 140px 0px;
  background-color: #3a3a3a;
  color: #FFF;
  padding: 30px;
  border-radius: 5px;
  padding-bottom: 60px;
}

.quizWrap{
  margin-bottom: 60px;
}

.aboutMeContainer{
  margin-top: 30px;
  padding: 15px;
  background-color: aliceblue;
}
.aboutMeWrap{
  margin-bottom: 120px;
}
.jsBox{
  border: 1px solid #b9dfd3;
  border-radius: 5px;
  padding: 10px 0px;
}

.jobsearchWrap{
  margin-bottom: 10px;
  padding: 15px;
}
.jobBtnActive{
  background-color: #2ca2b8;
  color: #FFF;
}
.jobIcon{
  color:#2ca2b8;
  font-size: 1.6em;
}
.jobSize{
  font-size: 1.4em;
}
.jobimgsize{
  max-width: 400px;
}
.jobDescription{
  border: 1px solid #2ca2b8;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.cookingWrap{
  background-color: rgb(250, 243, 229);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 100px;
  padding-bottom: 60px;
}
.shoppingInput{
  max-width:400px
}
.curryImg{
  width: 80px;
}
.ingredientContent{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.list-item {
  border-bottom: 1px solid #cecece;
  padding-bottom: 5px;
}